/* selector universal */




/* Selector por tipo */
h1 {
    color: whitesmoke;
    font-size: xx-large;
    text-align: center;
    background-color: yellowgreen;
}

p {
    color: whitesmoke;
}

/* Selector por ID */
#tituloSegundo {
color: green;
font-size: x-large;
text-align: center;
border-radius: 2rem;
}       

/* Selector por Class */
.parrafouno{
    color: black;
    font-style: italic, monospace;
    font-size: larger;
    border-style: dotted;
    border: black;
    border-bottom: 2rem;
    align-content: stretch;
}

nav {
    color: black;
    text-align: center;
}

.listadoVentajas {
    text-align: center;
}
